<header class="bg-dark py-1">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">

                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Testes Projeto Integrador</h1>
                </div>

        </div>
    </div>
</header>